td{
    background-color: white;
    border-radius: 50%;
    border: 5px solid darkblue;
}

body{
    background-color: rgb(42, 30, 30);
    color: white;
}
#head, #table, #player_stats{
    display:flex;
    justify-content: center;
}

td:hover{
    cursor: pointer;
}

table{
    max-width: 500px;
    border-radius: 10px;;
    margin-top: 20px;
    border: 2px solid white;
}

button{
    background-color:green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button:hover{
    cursor: pointer;
}

#player_stats{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}