td{
    background-color: white;
    border-radius: 50%;
    border: 5px solid darkblue;
}

td:hover{
    cursor: pointer;
}

table{
    max-width: 500px;
    border-radius: 10px;;
}

button{
    background-color:green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button:hover{
    cursor: pointer;
}